In [1]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [2]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [3]:
'''
Q1. Write a code to print the data present in the second row of the dataframe, df.
'''

df[1:2]

        course_name  duration
1  Machine Learning         3

In [4]:
'''
Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
'''
# in 
df.loc[2 , 'course_name']           
      # row label  # column label 
    
    # loc is labeld-based , used label means name of the column or row .

'Big Data'

In [5]:
df.iloc[2 , 0]
        # row position  # column position 
    # iloc is position based , means used position of the column or row .

'Big Data'

In [6]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [7]:
'''
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable, new_df
then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
'''

new_df = df.reindex([3,0,1,2])
new_df

        course_name  duration
3     Data Engineer         4
0      Data Science         2
1  Machine Learning         3
2          Big Data         6

In [8]:
new_df.loc[2]                # here loc select  label based row 2 .

course_name    Big Data
duration              6
Name: 2, dtype: object

In [9]:
df.iloc[2]               # Here iloc select position based row here positon is 2

course_name    Big Data
duration              6
Name: 2, dtype: object

In [10]:
# for next problems use this code 
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [11]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.640899  0.017158  0.487217  0.887072  0.423741  0.096930
2  0.275385  0.823188  0.545310  0.216386  0.622148  0.854408
3  0.087602  0.097080  0.994843  0.027040  0.924397  0.990699
4  0.516985  0.948876  0.517414  0.296272  0.667401  0.232954
5  0.528464  0.951375  0.608559  0.576309  0.579293  0.466372
6  0.669868  0.608737  0.918340  0.386916  0.373099  0.627799

In [12]:
'''
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
(i) mean of each and every column present in the dataframe.
(ii) standard deviation of column, ‘column_2’
'''

df1.mean()

column_1    0.453201
column_2    0.574402
column_3    0.678614
column_4    0.398333
column_5    0.598347
column_6    0.544860
dtype: float64

In [13]:
df1['column_2'].std()

0.4204212600935848

In [14]:
'''
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then find the
mean of column, column_2.
If you are getting errors in executing it then explain why.
[Hint: To replace the data use df1.loc[] and equate this to string data of your choice.]
'''

df1.loc[2, 'column_2'] = 'YourStringHere'

df1
df1['column_2'].mean()           

#  Explanation ::  This gives error because we can not do numerical 
                #  oprations on the string format ..

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
'''
Q6. What do you understand about the windows function in pandas and list the types of windows
functions?
'''

In pandas, a "window function" typically refers to functions used for performing rolling and
expanding window operations on time series or sequential data. These window functions allow 
you to calculate statistics and apply operations to subsets of data within a defined window 
or rolling window. 

types of windows functions :
    
    1.rolling()
    2.Expanding()
    3.rolling_apply()
    4.ewm()    : Exponentional Weighted Moving Object() [EWMO]

In [22]:
'''
Q7. Write a code to print only the current month and year at the time of answering this question.
[Hint: Use pandas.datetime function]
'''

from datetime import datetime

current_date = pd.to_datetime('now')

print("current year "  , current_date.year)
print("currnet month " , current_date.month)

current year  2023
currnet month  10

/tmp/ipykernel_226/1888173224.py:8: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  current_date = pd.to_datetime('now')

In [17]:
'''
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.
'''
import pandas as pd 

data =input('Enter first date in format "dd-mm-yy"')
date1 = pd.to_datetime(data , format='%d-%m-%Y')

data1 =input('Enter second date in format "dd-mm-yy"')
date2 = pd.to_datetime(data1 , format='%d-%m-%Y')
print("")
print(' Difference between the two dates are : ',date2-date1)

Enter first date in format "dd-mm-yy" 10-12-2003
Enter second date in format "dd-mm-yy" 12-12-2004

 Difference between the two dates are :  368 days 00:00:00

In [4]:
'''
Q9. You are given a CSV file containing student data that includes the student ID and their test score. Write
a Python program that reads the CSV file, calculates the mean, median, and mode of the test scores, and
displays the results in a table.
'''

import pandas as pd 

df= pd.DataFrame( {'student_id' :[1,2,3,4,5,6,7,8,9,10],
                      'name' : ['a','b','c','d' ,'e','f','g','h','i','j'],
                      'test_score' : [67,56,78,89,87,76,66,88,77,90 ]       }  )

mean   = df['test_score'].mean()
median = df['test_score'].median()
mode   = df['test_score'].mode().values[0]

df1 = pd.DataFrame({'mean' :[mean]  , 'median' :[median] , 'mode' :[mode]} , index=['test_score'])
df1

            mean  median  mode
test_score  77.4    77.5    56